.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  margin-top: 20px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.calculator {
  width: 320px;
  height: 450px;
  background-color: #f2f2f2;
  border: 2px solid #333;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: translateY(0);
  border-radius: 10px;
}

.calculator table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calculator td {
  padding: 15px;
  border: 1px solid #895c4d;
}

.calculator input[type="text"] {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #895c4d;
  color: #fff;
  width: 100%;
}

.calculator input[type="button"] {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #6b463e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
}

.calculator input[type="button"]:hover {
  background-color: #895c4d;
}


.image-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-container2 img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}
